body {
  background-color: #424949;
  color: #424949;
  font-style: "Lucida Console";
}

a{
	font-size: 40px;
	text-decoration:none;
	color: #424949;
}

h2.titulo{
	font-family: "Lucida Console", "Courier New", monospace;
	font-size:55px;
	text-align: left;
	padding-top: 3%;
	padding-left: 3%;
}

section.seccionPrincipal{
	padding-top: 10%;
	text-align:center;
}
#txtPrincipal{
	padding-top: 8%;
	color: #ffeedb;
	font-size: 100px;
}

section.seccionPerfil{
	margin-top: 20%;
	background-color: lightgrey;
	text-align:center;
	padding-bottom: 3%;
	border-bottom: 4px; border-style: dashed; border-color: #A3A2A2;
}
#fotoAry{
	background-color: lightgrey;
	border-radius: 50%;
	width: 400px;
	margin-top: 2%;
} 
#txtPerfil{
	font-size: 30px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 40px;
}

section.sectionExpProg{
	background-color: lightgrey;
	padding-bottom: 3%;
	border-bottom: 4px; border-style: dashed; border-color: #A3A2A2;
}
.icons{
	width: 80px;
	height: 80px;
	vertical-align:middle;
}
.tablas{
	width: 1180px;
    margin-left: auto;
    margin-right: auto;
	padding-top: 2.5%;
    font-size: 60px;
	border-collapse: collapse;
}
.sectionExpProg td{
	padding:50px;
}

section.seccionExpLaboral{
	background-color: lightgrey;
	padding-bottom: 3%;
	border-bottom: 4px; border-style: dashed; border-color: #A3A2A2;
	text-align: center;
	overflow: hidden;
}
.tablaLaboral{
	/*width: 850px;
    margin-left: auto;
    margin-right: auto;*/
	padding-top: 3%;
    font-size: 30px;
	border-collapse: collapse;
	padding-right: 20%;
	padding-left: 20%;
}
.imgLaboral{
	width: 200px;
	height: 180px;
}
.seccionExpLaboral td{
	padding:10px;
}
.izq{
	display: block;
	float:left;
	padding-left: 5%;
}
.der{
	display: block;
	float:right;
    padding-right: 5%;
}

section.seccionProyectos{
	background-color: lightgrey;
	padding-bottom: 3%;
	border-bottom: 4px; border-style: dashed; border-color: #A3A2A2;
	font-size: 25px;

}
.imgProyectos{
	width: 150px;
	height: 150px;
}
.tablaProyectos{
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

.tablaProgramas{
	width: 900%;
	margin-left: 5%;
	margin-right: 5%;
}

section.seccionContacto{
    padding: 2%;
    text-align: center;
	color: #FFFFF;
	width: 900px;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 1620px){
	.imgLogo{
		width: 100%;
	}
	#txtLogo{
		text-align: center;
		padding-top: 3%;
		padding-left: 5%;
		padding-right: 5%;
		color: #ffeedb;
		font-size: 20px;
	}

	.izq{
		margin: auto;
		width: 49%;
		float:left;
		padding:0;
	}

	.der{
		margin: auto;
		padding-left: 2%;
		width: 49%;
		float:right;
		padding:0;
	}

	.logosContacto{
		width: 12%;
	}
}

@media screen and (max-width: 890px){

     table {
       display: block;
       overflow-x: auto;
     }
}
	.imgLogo{
		width: 100%;
	}
	#txtLogo{
		text-align: center;
		padding-top: 3%;
		padding-left: 5%;
		padding-right: 5%;
		color: #ffeedb;
		font-size: 20px;
	}

	.izq{
		margin: auto;
		width: 100%;
		float:center;
		padding:0;
	}

	.der{
		margin: auto;
		margin-top: 30px;
		width: 100%;
		float:center;
		padding:0;
	}

	.logosContacto{
		width: 12%;
	}
}

@media screen and (max-width: 600px) {
       table {
           width:100%;
       }
       tbody td {
           display: block;
           text-align:center;
       }
       tbody td:before {
           content: attr(data-th);
           display: block;
           text-align:center;
       }
}


/*@media screen and (max-width: 600px) {
       table {
           width:100%;
       }
       thead {
           display: none;
       }
       tr:nth-of-type(2n) {
           background-color: inherit;
       }
       tr td:first-child {
           background: #f0f0f0;
           font-weight:bold;
           font-size:1.3em;
       }
       tbody td {
           display: block;
           text-align:center;
       }
       tbody td:before {
           content: attr(data-th);
           display: block;
           text-align:center;
       }
}*/